body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#tableOccupancy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.table-occupancy {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-occupancy h3 {
    margin-top: 0;
}

.table-occupancy p {
    margin: 5px 0;
    color: #333;
}
