body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

h1, h2 {
    color: #2c3e50;
}

input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

#selectedDateBox {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

#totalMoneyBox, #totalReceivedBox {
    background-color: #ecf0f1;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #3498db;
    color: white;
}

canvas {
    margin-bottom: 20px;
}
